@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #3498db; /* Cette valeur sera écrasée par celle de siteConfig */
  --main-color-rgb: 52, 152, 219; /* Les valeurs RGB de votre couleur principale */
  --text-color: #333333;
  --background-color: #ffffff;
}

body {
  font-family: var(--body-font, sans-serif);
  font-weight: 400; /* poids normal pour le texte du corps */
  background: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font, sans-serif);
  font-weight: 700; /* ou 700 pour gras, 400 pour normal */
  color: var(--main-color);
}

a {
  color: var(--main-color);
}

/* Nouvelle classe utilitaire pour le contenu centré */
.content-container {
  width: 100%;
  max-width: 1200px; /* Ajustez selon vos besoins */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Styles spécifiques pour le blog */
.blog-content {
  color: var(--text-color);
}

.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6 {
  color: var(--main-color);
  font-weight: 700;
}

.blog-content a {
  color: var(--main-color);
  text-decoration: underline;
}

/* Classe utilitaire pour la couleur principale */
.text-main-color {
  color: var(--main-color);
}

.bg-main-color {
  background-color: var(--main-color);
}

.full-width-container {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* ... autres styles ... */
