---
import Layout from '../layouts/Layout.astro';
import Accordion from '../components/Accordion.astro';
import HeroSectionImg from '../components/HeroSectionImg.astro';
import BlogMiniGrid from '../components/BlogMiniGrid.astro';
import Features from '../components/Features.astro';
import CTAButton from '../components/CTAButton.astro';
import { siteConfig } from '../config/siteconfig';
import { getCollection } from 'astro:content';
import { faRocket, faBolt, faCode } from '@fortawesome/free-solid-svg-icons';

const faqItems = [
  { question: 'Comment puis-je m\'inscrire ?', answer: 'Vous pouvez vous inscrire en utilisant le formulaire d\'inscription sur notre page d\'accueil.' },
  { question: 'Quels sont les avantages de MDXForge ?', answer: 'MDXForge offre une intégration facile avec Astro et MDX, permettant une création de contenu rapide et flexible.' },
];

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
).slice(0, 3);
---

<Layout title="Accueil">
  <main class="relative z-0">
    <HeroSectionImg
      title="Bienvenue sur MDXForge"
      subtitle="Créez des sites web rapides et élégants avec Astro et MDX"
      backgroundImage="/background-mdx-test.jpg"
      primaryButtonText="Commencer"
      primaryButtonLink="https://github.com/benchambolle/mdxforge-starter"
      secondaryButtonText="En savoir plus"
      secondaryButtonLink="https://github.com/benchambolle/mdxforge-starter"
    />
    
    <div class="full-width-container">
      <div class="content-container">
        <!-- Features Section -->
        <section class="features py-24">
          <h2 class="text-3xl font-semibold text-center mb-8 text-main-color">Pourquoi choisir MDXForge ?</h2>
          <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <Features 
              icon={faRocket}
              title="Facile à configurer"
              description="MDXForge est conçu pour être simple à configurer, vous permettant de vous concentrer sur la création de contenu."
            />
            <Features 
              icon={faBolt}
              title="Performant"
              description="Profitez de performances optimales grâce à l'intégration d'Astro et de Tailwind CSS."
            />
            <Features 
              icon={faCode}
              title="Open Source"
              description="Contribuez à un projet open source et rejoignez notre communauté de développeurs."
            />
          </div>
		  <div class="flex justify-center py-10">
		  <CTAButton
            text="Commencer"
            href="https://github.com/benchambolle/mdxforge-starter"
			variant="light"
          />
		  </div>
        </section>
      </div>
    </div>

    <div class="full-width-container bg-gray-100">
      <div class="content-container">
        <!-- Latest Blog Posts Section -->
        <section class="latest-posts py-20">
          <BlogMiniGrid
            title="Derniers Articles"
            description="Retrouvez les derniers articles de notre blog."
            posts={3}
            color="light"
          />
        </section>
      </div>
    </div>

    <div class="full-width-container">
      <div class="content-container">
        <!-- FAQ Section -->
        <section class="faq py-24">
          <h2 class="text-3xl font-semibold mb-6 text-main-color text-center">FAQ</h2>
          <Accordion items={faqItems} />
        </section>
      </div>
    </div>
  </main>
</Layout>

<style define:vars={{ mainColor: siteConfig.mainColor }}>
  .text-main-color {
    color: var(--mainColor);
  }
  .bg-main-color-light {
    background-color: color-mix(in srgb, var(--mainColor) 10%, white);
  }
</style>
